@import url('https://fonts.googleapis.com/css?family=Nova+Script');
//@import "bar-ui";
//@import "materialize";
// @import "~materialize-css/sass/materialize";
body{
  background-color: grey;

  font-family: 'Nova Script', cursive;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  h1{
    text-align: center;
  }
  #main {
    flex: 1 0 auto;
  }

  .mainpage {
    margin-top: 0;
    padding: 25px 50px;
  }
  .music{

    .card-content{
      font-size: 0.9em;
      padding: 15px;
    }
  }
  footer.page-footer {
  padding-top: 0;
  }
  .sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #2288cc;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
// @media #{$medium-and-down} {
//     // styles for medium screens and down
//     .music{
//       height: 250px;
//
//     }
//   }
}
